@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .search-bar {
    @apply w-0 group-hover:w-[300px] transition-all duration-300 rounded-full group-hover:border group-hover:border-gray-500 px-3 py-1 focus:outline-none dark:border-gray-800 dark:bg-gray-900 group-hover:dark:bg-gray-800;
  }
  .btn-primary{
    @apply px-2 py-1 bg-brandBlue text-sm text-lime-50 rounded-full hover:bg-lime-100 hover:text-blue-800 hover:border-2 hover:border-blue-600
  }
  .btn-secondary{
    @apply px-2 py-1 bg-brandGreen text-sm text-white rounded-md hover:bg-red-100 hover:text-red-200 hover:border-2
  }
}